*{margin: 0;padding: 0;box-sizing: border-box;}

:root{
    --font: 'Mulish', sans-serif;
    --btnFont: 'Montserrat', sans-serif;
    --mainColor: linear-gradient(rgba(116,235,213,0.6), rgba(159,172,230,0));
    --secColor: linear-gradient(to left , #74ebd5, #9face6);
}
body{
    background-image: var(--mainColor), url('mountain-lake-1.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    font-family: var(--font);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 100vw;
}
.container{
    background-color: white;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    overflow: hidden;
    width: calc(100vw - 65vw);
    max-width: 100%;
}
.header{
    background: var(--secColor);
    padding: 30px 0;
}
.header h2{
    color: white;
    font-family: var(--btnFont);
    font-size: 24px;
    text-align: center;
    text-transform: uppercase;
}
.form{
    padding: 40px;
}
.form-control{
    margin-bottom: 30px;
    position: relative;
}
.form-control label{
    display: inline-block;
    margin-bottom: 5px;
}
.form-control input{
    width: 100%;
    border: 2px solid #f0f0f0;
    border: none;
    border-bottom: 1px solid black;
    font-family: var(--font);
    font-size: 14px;
    padding: 12px;
}
.form-control input:focus{
    outline: 0;
    border: 2px solid black;
}
.form-control.success input{
    border: 2px solid #2ecc71;
}
.form-control.error input{
    border: 2px solid red;
}
.form-control i{
    position: absolute;
    right: 8%;
    top: 38px;
    visibility: hidden;
}
.form-control small{
    position: absolute;
    left: 0;
    bottom: -16px;
    visibility: hidden;
    color: red;
}
.form-control.error small{
    visibility: visible;
}
.form-control.success i.fa-check-circle{
    visibility: visible;
    color: #2ecc71;
}
.form-control.error i.fa-exclamation-circle{
    visibility: visible;
    color: red;
}
.form .btn{
    background: var(--secColor);
    border-radius: 6px;
    border: none;
    outline: none;
    color: white;
    display: block;
    font-family: var(--btnFont);
    font-size: 16px;
    padding: 15px 0;
    margin-top: 20px;
    width: 100%;
    font-weight: bold;
    text-transform: uppercase;
    transition: all 1s ease;
}
.form .btn:hover{
    background: linear-gradient(to right , #74ebd5 , #9face6);
    cursor: pointer;
}

@media(max-width:998px){
    .container{
        width: calc(100vw - 35vw);
        max-width: 100%;
    }
}